.container {
  width: 70%;
  height: 100%;
  /* 세로방향 | 가로방향 */
  margin: 5% auto;

  background-color: #000000;
  border-radius: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Omu;
  color: var(--color-accent);
  font-size: var(--title-font-size);
}

.advertisement_shared {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.image {
  margin-left: 35%;
  width: 30%;
}
