.tone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 0.1rem solid #ccc;
  /* border: 0.1rem solid #ccc;
  border-radius: 1rem; */
  font-size: var(--font-size-up);
  color: var(--color-text);
  font-family: Omu;
  font-weight: bold;
  min-width: 50%;
}

.toneLabel {
  margin-right: 1rem;
}

.toneSelect {
  padding: 0.5rem;
  border-radius: 5px;
  font-family: Omu;
  font-size: var(--font-size);
}
.customToneForm {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.formGroup {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.1rem;
  border-bottom: 0.1rem solid #ccc;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: var(--margin-right-labelbox); /*14rem*/
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: Omu;
}

.input {
  width: 8rem;
  padding: 0.3rem;
  /* border: 0.1rem solid #ccc; */
  border-radius: 1rem;
  margin-left: 0.7rem;
  font-size: var(--font-size);
}

.submitButton {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  margin-left: 50%;
  /* min-width: 150px; */
  background-color: #4caf50;
  color: rgb(208, 33, 33);
  font-size: var(--font-size-up);
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  transition: transform 0.1s ease-in;
  font-size: var(--font-size);
  margin: 2% auto 3%;
}
.submitButton:active {
  transform: scale(0.95);
}
